language: java
jdk:
  - oraclejdk8

before_install:
  - '[ "$BUILD_PR_BRANCH" = "true" ] && { [ "$TRAVIS_PULL_REQUEST" != "false" ] || exit 1; } && git checkout HEAD^2 && echo "OCTOPULL_SHA=$(git rev-parse HEAD)"; true'

install:
  - mvn install -DskipTests=false -B -V

before_deploy:
  - mvn package
  - cd target
  - zip -r SEM ./* -x ./maven-archiver\* ./maven-status\* ./classes\* ./surefire-reports\* ./test-classes\* ./generated-sources\* ./generated-test-sources\* ./generated-classes\* ./cobertura\* ./testtarget\*
  - ls
  - cd ..

env:
  - BUILD_PR_BRANCH=true
  - BUILD_PR_BRANCH=false

matrix:
  allow_failures:
    - env: BUILD_PR_BRANCH=true

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

after_script:
  - echo "== CHECKSTYLE_RESULT =="; cat "target/checkstyle-result.xml"; echo "== END_CHECKSTYLE_RESULT =="
  - echo "== PMD_RESULT =="; cat "target/pmd.xml"; echo "== END_PMD_RESULT =="
  - echo "== FINDBUGS_RESULT =="; cat "target/findbugsXml.xml"; echo "== END_FINDBUGS_RESULT =="

deploy:
  provider: releases
  api-key: "$GITHUB_TOKEN"
  file: "./target/SEM.zip"
  skip_cleanup: true
  on:
    tags: true
    all_branches: true
    jdk: oraclejdk8

notifications:
  webhooks:
    - http://octopull.rmhartog.me/api/travis/webhook
  email:
    recipients:
      - joshua.b.slik@gmail.com
      - bastijnkostense@hotmail.nl
      - lisette_stella@hotmail.com
      - faris.elghlan@hotmail.com
      - m.houtman@student.tudelft.nl
    on_success: change
    on_failure: always
